:root {
  /* Fonts */
  --oui-font-family: 'DIN Pro', 'DIN Alternate', 'Roboto', 'Arial', sans-serif;

  /* colors */
  --oui-color-primary: 255 255 255;
  --oui-color-primary-light: 255 255 255;
  --oui-color-primary-darken: 7 8 8;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 128 128 128;
  --oui-color-link-light: 169 169 169;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 169 169 169;
  --oui-color-quaternary: 169 169 169;

  --oui-color-danger: 85 0 0;
  --oui-color-danger-light: 139 0 0;
  --oui-color-danger-darken: 42 0 0;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 0 85 0;
  --oui-color-success-light: 0 139 0;
  --oui-color-success-darken: 0 42 0;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 85 85 0;
  --oui-color-warning-light: 139 139 0;
  --oui-color-warning-darken: 255 255 255;
  --oui-color-warning-contrast: 6 6 6;

  --oui-color-fill: 21 21 21;
  --oui-color-fill-active: 40 40 40;

  --oui-color-base-1: 21 21 21;
  --oui-color-base-2: 16 16 16;
  --oui-color-base-3: 11 11 11;
  --oui-color-base-4: 8 8 8;
  --oui-color-base-5: 5 5 5;
  --oui-color-base-6: 3 3 3;
  --oui-color-base-7: 10 10 10;
  --oui-color-base-8: 6 6 6;
  --oui-color-base-9: 7 8 8;
  --oui-color-base-10: 7 8 8;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 223 86 72;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 100 204 163;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 26 26 26;
  --oui-gradient-primary-end: 0 0 0;

  --oui-gradient-secondary-start: 16 16 16;
  --oui-gradient-secondary-end: 0 0 0;

  --oui-gradient-success-start: 0 42 0;
  --oui-gradient-success-end: 0 85 0;

  --oui-gradient-danger-start: 42 0 0;
  --oui-gradient-danger-end: 85 0 0;

  --oui-gradient-brand-start: 255 255 255;
  --oui-gradient-brand-end: 255 255 255;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 42 42 0;
  --oui-gradient-warning-end: 85 85 0;

  --oui-gradient-neutral-start: 5 5 5;
  --oui-gradient-neutral-end: 10 10 10;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}